sampleNodeRed.txt
[{"id":"8b6ad2f3.0779f8","type":"mqtt in","z":"d2131645.b921b8","name":"","topic":"outTopicKMonto","qos":"0","broker":"19ac6b36.c4c83d","x":161,"y":265,"wires":[["6fd7cb98.206574"]]},{"id":"6fd7cb98.206574","type":"debug","z":"d2131645.b921b8","name":"","active":true,"console":"false","complete":"payload","x":546,"y":338,"wires":[]},{"id":"92100563.c08988","type":"inject","z":"d2131645.b921b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":203,"y":358,"wires":[["6fd7cb98.206574"]]},{"id":"908a3240.cc3f8","type":"random","z":"d2131645.b921b8","name":"","low":"1","high":"10","inte":"true","x":251.5,"y":525,"wires":[["a4a26f2c.0e3f98","ead2ff8e.0eb198"]]},{"id":"5bf814ab.a24c34","type":"inject","z":"d2131645.b921b8","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.5,"y":516,"wires":[["4dcb38d1.f7fc88","908a3240.cc3f8"]]},{"id":"a4a26f2c.0e3f98","type":"debug","z":"d2131645.b921b8","name":"","active":true,"console":"false","complete":"false","x":600.5,"y":397,"wires":[]},{"id":"4dcb38d1.f7fc88","type":"function","z":"d2131645.b921b8","name":"Hello","func":"if(msg.payload == \"Hello\"){\n    return msg;\n} else {\n    msg.payload = \"Not Hello\"\n    return msg;\n}","outputs":1,"noerr":0,"x":240.5,"y":453,"wires":[["a4a26f2c.0e3f98"]]},{"id":"a88823e.59e606","type":"template","z":"d2131645.b921b8","name":"Test Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Test Template</title>\n</head>\n\n<body>\n    <p>\n        This is the payload: {{payload}} !\n    </p>\n</body>\n</html>","x":476.5,"y":638,"wires":[["fe36317e.8f0188"]]},{"id":"2df816f1.47d622","type":"http in","z":"d2131645.b921b8","name":"","url":"/testtemplate","method":"get","swaggerDoc":"","x":118.5,"y":637,"wires":[["a6827644.cdb7a8"]]},{"id":"fe36317e.8f0188","type":"http response","z":"d2131645.b921b8","name":"","x":678.5,"y":634,"wires":[]},{"id":"a6827644.cdb7a8","type":"function","z":"d2131645.b921b8","name":"Hello","func":"if(msg.payload == \"Hello\"){\n    return msg;\n} else {\n    msg.payload = \"Not Hello\"\n    return msg;\n}","outputs":1,"noerr":0,"x":299,"y":637,"wires":[["a88823e.59e606"]]},{"id":"ead2ff8e.0eb198","type":"function","z":"d2131645.b921b8","name":"addTimeStamp","func":"var dt = new Date();\nvar utcDate = dt.toUTCString();\nvar returnJSON = \n{ \"time_stamp_string\" : utcDate,\n\"time_stamp_nano\" : dt.getTime(),\n\"SensorData\" : msg.payload};\nmsg.payload = returnJSON;\nreturn msg;","outputs":1,"noerr":0,"x":471.5,"y":524,"wires":[["a4a26f2c.0e3f98","9c630baa.f3d53"]]},{"id":"9c630baa.f3d53","type":"cloudant out","z":"d2131645.b921b8","name":"","cloudant":"","database":"sensordata","service":"TestMSP432CC3100NodeRed-cloudantNoSQLDB","payonly":false,"operation":"insert","x":677.5,"y":523,"wires":[]},{"id":"19ac6b36.c4c83d","type":"mqtt-broker","z":"","broker":"198.41.30.241","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
