nodered/milkReadingsNodeRed.JSON
[
   {
      "id":"8b6ad2f3.0779f8",
      "type":"mqtt in",
      "z":"d2131645.b921b8",
      "name":"",
      "topic":"outTopicKMonto",
      "qos":"0",
      "broker":"19ac6b36.c4c83d",
      "x":268,
      "y":316,
      "wires":[
         [
            "bce34f83.0d984",
            "6fd7cb98.206574"
         ]
      ]
   },
   {
      "id":"6fd7cb98.206574",
      "type":"debug",
      "z":"d2131645.b921b8",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":754,
      "y":228,
      "wires":[

      ]
   },
   {
      "id":"5bf814ab.a24c34",
      "type":"inject",
      "z":"d2131645.b921b8",
      "name":"",
      "topic":"",
      "payload":"Hello",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":208.5,
      "y":485,
      "wires":[
         [
            "989c2d1d.244cd"
         ]
      ]
   },
   {
      "id":"a4a26f2c.0e3f98",
      "type":"debug",
      "z":"d2131645.b921b8",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"true",
      "x":965.5,
      "y":877,
      "wires":[

      ]
   },
   {
      "id":"a88823e.59e606",
      "type":"template",
      "z":"d2131645.b921b8",
      "name":"Test Template",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>Sensor Readings</title>\n{{{payload.css}}}\n</head>\n<body>\n    <div class=\"center\">\n    {{{payload.table}}}\n    </div>\n</body>\n\n</html>\n",
      "x":754.5,
      "y":622,
      "wires":[
         [
            "fe36317e.8f0188"
         ]
      ]
   },
   {
      "id":"2df816f1.47d622",
      "type":"http in",
      "z":"d2131645.b921b8",
      "name":"",
      "url":"/milkReadings",
      "method":"get",
      "swaggerDoc":"",
      "x":264.5,
      "y":622,
      "wires":[
         [
            "6e3ef8c6.5d4c7"
         ]
      ]
   },
   {
      "id":"fe36317e.8f0188",
      "type":"http response",
      "z":"d2131645.b921b8",
      "name":"",
      "x":944.5,
      "y":622,
      "wires":[

      ]
   },
   {
      "id":"ead2ff8e.0eb198",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"addTimeStamp",
      "func":"var dt = new Date();\nvar utcDate = dt.toUTCString();\nvar returnJSON = \n{ \"time_stamp_string\" : utcDate,\n\"time_stamp_nano\" : dt.getTime(),\n\"EggData\": msg.payload.eggsReading,\n\"MilkData\" : msg.payload.milkReading};\nmsg.payload = returnJSON;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":751.5,
      "y":313,
      "wires":[
         [
            "a1a50d5.8dcda7"
         ]
      ]
   },
   {
      "id":"40e1753e.861714",
      "type":"http request",
      "z":"d2131645.b921b8",
      "name":"",
      "method":"use",
      "ret":"obj",
      "url":"",
      "tls":"",
      "x":743,
      "y":742,
      "wires":[
         [
            "a4a26f2c.0e3f98",
            "e1157e9b.5de958"
         ]
      ]
   },
   {
      "id":"b6975f42.8eb88",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"Format Header",
      "func":"msg.url = \"https://01ec597d-c720-4820-b42a-1d2f54fe48a0-bluemix.cloudant.com/sensordata/_find/\";\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\nmsg.method = \"POST\";\nmsg.payload = {\n  \"selector\": { \n    \"time_stamp_nano\" : {\n      \"$gt\": null\n    }\n  },\n  \n  \"fields\":[\n    \"time_stamp_string\",\n    \"time_stamp_nano\",\n    \"EggData\",\n    \"MilkData\"\n    ],\n  \"sort\": [{\"time_stamp_nano\": \"desc\"}],\n    \"limit\": 10\n    \n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":517,
      "y":741,
      "wires":[
         [
            "40e1753e.861714",
            "a4a26f2c.0e3f98"
         ]
      ]
   },
   {
      "id":"e1157e9b.5de958",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"toHtmlTable",
      "func":"var stripped = msg.payload.docs;\nvar _ESTOffset =4*60*60000;\n\nvar html = '<h3 align=\"center\">Last 10 Milk Readings</h3>';\nhtml += '<table align=\"center\">';\nhtml += '<tr>';\nhtml += '<th>Time</th>';\n// html += '<th>Eggs Readings</th>';\nhtml += '<th>Milk Readings</th>';\nhtml += '</tr>';\nfor (var i = 0; i < 10; i++) {\n  var time_stamp = new Date(stripped[i][\"time_stamp_nano\"] - _ESTOffset);\n  var eggData = stripped[i][\"EggData\"];\n  var milkData = stripped[i][\"MilkData\"];\n  html += '<tr>';\n  html += '<td>' + time_stamp.toLocaleString() + '</td>';\n//   html += '<td>' + eggData + '</td>';\n  html += '<td>' + milkData + '% or less</td>';\n  html += '</tr>';\n}\nhtml += '</table>';\nglobal.set(\"currTable\",html);\nreturn msg.payload;",
      "outputs":1,
      "noerr":0,
      "x":973,
      "y":740,
      "wires":[
         [
            "a4a26f2c.0e3f98"
         ]
      ]
   },
   {
      "id":"a214dc4a.55a128",
      "type":"inject",
      "z":"d2131645.b921b8",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"60",
      "crontab":"",
      "once":true,
      "x":254,
      "y":745,
      "wires":[
         [
            "b6975f42.8eb88"
         ]
      ]
   },
   {
      "id":"6e3ef8c6.5d4c7",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"getLatestTable",
      "func":"var table = global.get(\"currTable\");\nmsg.payload.table = table;\nmsg.payload.css = global.get(\"css\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":622,
      "wires":[
         [
            "a88823e.59e606"
         ]
      ]
   },
   {
      "id":"bce34f83.0d984",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"ConvertReading",
      "func":"var sensorReadings = msg.payload.split(',');\nvar eggsReading = parseInt(sensorReadings[1]);\nvar milkReading = parseInt(sensorReadings[0]);\nif(milkReading > 0 && milkReading <= 15){\n    milkReading = 0;\n} else if(milkReading > 15 && milkReading <= 125){\n    milkReading = 10;\n} else if(milkReading > 125 && milkReading <= 350){\n    milkReading = 25;\n} else if(milkReading > 350 && milkReading <= 475){\n    milkReading = 50;\n} else if(milkReading > 450 ){\n    milkReading = 100;\n}\nif(eggsReading > 0 && eggsReading <= 400){\n    eggsReading = 0;\n} else if(eggsReading > 400 && eggsReading <= 700){\n    eggsReading = 50;\n} else if(eggsReading > 700 && eggsReading <= 1000){\n    eggsReading = 100;\n}\n\nmsg.payload = {\"eggsReading\":eggsReading,\"milkReading\":milkReading}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":531.5,
      "y":314,
      "wires":[
         [
            "6fd7cb98.206574",
            "ead2ff8e.0eb198"
         ]
      ]
   },
   {
      "id":"989c2d1d.244cd",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"RandomReadings",
      "func":"var eggsReading = Math.floor((Math.random() * 1000) + 1);\nvar milkReading = 500;\nmsg.payload = \"\" + eggsReading + \",\" + milkReading;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":373,
      "y":487,
      "wires":[
         [
            "bce34f83.0d984"
         ]
      ]
   },
   {
      "id":"a1a50d5.8dcda7",
      "type":"cloudant out",
      "z":"d2131645.b921b8",
      "name":"",
      "cloudant":"",
      "database":"sensordata",
      "service":"TestMSP432CC3100NodeRed-cloudantNoSQLDB",
      "payonly":true,
      "operation":"insert",
      "x":936,
      "y":314,
      "wires":[

      ]
   },
   {
      "id":"5c3595b.b3160ec",
      "type":"inject",
      "z":"d2131645.b921b8",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":true,
      "x":255,
      "y":895,
      "wires":[
         [
            "cba33504.e2cdf"
         ]
      ]
   },
   {
      "id":"cba33504.e2cdf",
      "type":"function",
      "z":"d2131645.b921b8",
      "name":"MakeCSS",
      "func":"var css = '<style>';\ncss += 'body,h1,h2,h3,h4,h5 {font-family: \"Futura\", sans-serif}';\ncss += 'body {font-size:16px;}';\ncss += '.center {';\ncss += 'margin: auto;';\ncss += ' width: 70%;';\ncss += 'border: 3px solid #73AD21;';\ncss += 'padding: 10px;';\ncss += '}';\ncss += 'table {';\ncss += 'border-collapse: collapse;';\ncss += 'width: 60%;';\ncss += '}';\ncss += 'th, td {';\ncss += 'text-align: center;';\ncss += 'padding: 8px;';\ncss += '}';\ncss += 'tr:nth-child(even){background-color: #f2f2f2}';\ncss += 'th {';\ncss += 'background-color: #4CAF50;';\ncss += 'color: white;';\ncss += '}';\ncss += 'body {';\ncss += 'background-color: lightblue;';\ncss += '}';\ncss += 'div {';\ncss += 'background-color: white;';\ncss += '}';\ncss += '</style>';\nglobal.set(\"css\", css);\n\n    \n   \n\n   \n    \n\n\n    \n    \n\n\n\n    \n    \n\n    \n",
      "outputs":1,
      "noerr":0,
      "x":452,
      "y":894,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"46364544.58bf5c",
      "type":"comment",
      "z":"d2131645.b921b8",
      "name":"MQTT Receive Data",
      "info":"This work flow receives data from the MSP432 with wifi attachment\n* Receives the data as a csv string\n* Goes into a convert reading function that\n    * parses the values that are comma separated\n    * converts to integers\n    * determines the rough current capacity of the milk jug (half gallon)\n    * creates JSON object and attaches to payload\n* Then payload is passed to another function that:\n    * Takes the readings and attaches a timestamp to them\n    * creates a new payload and returns that msg\n* finally the data is stored in a cloudant DB",
      "x":159.5,
      "y":261,
      "wires":[

      ]
   },
   {
      "id":"d4761c9d.2a375",
      "type":"comment",
      "z":"d2131645.b921b8",
      "name":"Test data",
      "info":"Inject with the Hello input to generate test data",
      "x":126.5,
      "y":437,
      "wires":[

      ]
   },
   {
      "id":"628cb8f6.791fa",
      "type":"comment",
      "z":"d2131645.b921b8",
      "name":"getHTMLPageRequest",
      "info":"This workflow handles receiving a request to access a webpage for the milk readings\n* First function grabs the latest server generated table\n* passes it as the message payload\n* Template takes that message and displays as html page\n* Finally http output block handles the returning of the html page\n* ",
      "x":164.5,
      "y":583,
      "wires":[

      ]
   },
   {
      "id":"32f77a01.1258ae",
      "type":"comment",
      "z":"d2131645.b921b8",
      "name":"updateServerTable",
      "info":"This workflow triggers the server to query the cloudant DB to get the 10 most recent milk readings, format them into an html string, and store them in a global context.\n* Format header - prepares the HTTP request to the cloudant DB\n* http request - sends and receives data for the request \n* toHTMLTable - converts the query results into an html string and stores it globally",
      "x":155.5,
      "y":702,
      "wires":[

      ]
   },
   {
      "id":"c66698a5.a84be",
      "type":"comment",
      "z":"d2131645.b921b8",
      "name":"Create CSS",
      "info":"This workflow simply creates an HTML style tag string to beautify the webpage\n* stored globally ",
      "x":142,
      "y":848,
      "wires":[

      ]
   },
   {
      "id":"19ac6b36.c4c83d",
      "type":"mqtt-broker",
      "z":"",
      "broker":"198.41.30.241",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willRetain":"false",
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthRetain":"false",
      "birthPayload":""
   }
]
